.delete {
  cursor: pointer;
  color: white;
  width: 47%;
  height: 2.2rem;
  outline: none;
  border: none;
  background: burlywood;
  font-size: 1rem;
  margin: 2rem 0.3rem 0;
  text-align: center;
  position: relative;
  letter-spacing: 0.05rem;
}

.delete:hover {
  opacity: 0.5;
}

@media (min-width: 768px) {
  .delete {
    width: 10rem;
    height: 2.5rem;
    font-size: 1rem;
    margin: 2.5rem 1rem;
    letter-spacing: 0.2rem;
  }
}
