.delete {
  cursor: pointer;
  color: white;
  width: 10rem;
  height: 2.5rem;
  outline: none;
  border: none;
  background: burlywood;
  font-size: 1rem;
  margin: 2.5rem 1rem;
  text-align: center;
  position: relative;
  letter-spacing: 0.2rem;
}

.delete:hover {
  opacity: 0.5;
}
