.input-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  font-size: 1.2rem;
  margin: 0.5rem 0;
  color: black;
  background: white;
  padding: 0 0 0 0.5rem;
  transition: all 0.1s ease-in-out;
}
.input-item:hover {
  background: gainsboro;
}

.input-item__checked {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
  font-size: 1.5rem;
  margin: 1rem 0;
  color: black;
  background: white;
  padding: 0 0 0 1rem;
  opacity: 0.5;
  text-decoration: line-through;
}

.input-item__btn {
  color: white;
  width: 2.5rem;
  height: 2.5rem;
  outline: none;
  border: none;
  background: burlywood;
  margin: 0 0.1rem;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  opacity: 1;
}

.input-item__btn:hover {
  opacity: 0.6;
}

.input-item__btn-last {
  margin-right: 0;
  margin-left: 0.05rem;
}

@media (min-width: 768px) {
  .input-item__btn {
    width: 4rem;
    height: 3rem;
    font-size: 1.2rem;
  }

  .input-item {
    height: 3rem;
    font-size: 1.5rem;
    margin: 1rem 0;
    padding: 0 0 0 1rem;
  }
}
