.input-list {
  margin: 1rem auto 0;
  max-width: 97vw;
  list-style: none;
  max-height: 45vh;
  overflow-y: scroll;
}

.input-list__fallback {
  color: white;
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .input-list {
    width: 50rem;
    max-width: 95vw;
  }
}
