.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.2s ease-in-out;
}
.card {
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

.modal {
  background: white;
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  background: rgb(21, 92, 96);
  color: white;
  text-align: center;
  font-size: 1.6rem;
  padding: 1rem;
  width: 100%;
}

.header h2 {
  margin: 0;
  color: white;
}

.content {
  text-align: center;
  font-size: 1.5rem;
  padding: 2rem 0;
}

.button {
  width: 90%;
  text-align: center;
  height: 3rem;
  background: burlywood;
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  z-index: 101;
  margin: 0 auto;
}

.button:hover {
  opacity: 0.7;
}

@media (min-width: 768px) {
  .content {
    font-size: 2rem;
    padding: 2rem 0;
  }
  .error {
    font-size: 2.5rem;
  }
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }

  .button {
    width: 20%;
  }
}
